################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Memberships/.vs
/Memberships/Memberships/bin
/Memberships/Memberships/obj/Debug
/Memberships/packages
/Memberships/Memberships/App_Data/MembershipsDatabase_log.ldf
/Memberships/Memberships/App_Data/MembershipsDatabase.mdf
